@charset "UTF-8";

h2 {
  margin-bottom: 30px;
}

#main_container {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#input {
  border: 2px dashed #88f;
  padding: 10px;
  width: 45%;
}

#output {
  border: 2px dashed #88f;
  padding: 10px;
  width: 50%;
}

input {
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}

select {
  border: 1px solid #888;
}

#sizeForm {
  font-size: 2rem;
}

#elemForm-container {
  height: 200px;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.elemForm {
  width: 45%;
}

#calc {
  margin-left: 30px;
  font-size: 2rem;
  color: #00f;
  background-color: #cfc;
  border: 2px solid;
  border-radius: 5px;
}
#calc:hover {
  color: #44f;
  background-color: #9f9;
}

.result {
  border: 1px solid #aaa;
  height: 40px;
  text-align: center;
}

.result-inner {
  display: grid;
}

.result-outer {
  margin-top: 50px;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 7fr;
}

/* responsive対応 */
@media (max-width: 750px) {
  #main_container {
    width: 600px;
    flex-direction: column;
    align-items: center;
  }
  #input {
    width: 100%;
  }
  #output {
    margin-top: 50px;
    width: 100%;
  }
  #elemForm-container {
    height: auto;
    flex-direction: column;
  }
  .elemForm {
    margin-top: 30px;
    width: 100%;
  }
  .elem {
    height: 3rem;
  }
}
